/*=== 2.4 WHITE SECTION ===*/
.page-header {
    margin: 0 0 17px 0;
    border-bottom: 5px solid #e4e4e4;
}
.page-header h4 {
    margin-bottom: 0;
    text-transform: uppercase;
}
.mainContent .featuredProducts .slide .productImage .productMasking {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 186, 193, 0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul {
    position: absolute;
    top: 50%;
    left: 54%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mainContent .featuredProducts .slide {
    height: auto;
    display: block;
    cursor: pointer;
    margin-bottom: 80px;
    margin-bottom: 30px;
}
.mainContent .featuredProducts .slide .productImage {
    position: relative;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}
.mainContent .featuredProducts .slide .productImage img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.mainContent .featuredProducts .slide .productImage:hover img {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.mainContent .featuredProducts .slide .productImage .productMasking ul {
    width: 157px;
    height: 42px;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul li {
    padding:0;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul li a {
    width: 42px;
    height: 42px;
    padding: 0;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    background-color: transparent;
    line-height: 36px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul li a i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    color: #ffffff;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul li a:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul li a:hover i {
    color: #47bac1;
}
@media (min-width: 480px) {
    .mainContent .featuredProducts .slide .productImage {
        width: 100%;
        height: auto;
    }
}
.mainContent .featuredProducts .slide:hover .productMasking {
    opacity: 1;
}
.mainContent .featuredProducts .slide:hover .productMasking ul {
    -webkit-animation: itemMove 0.3s linear;
    animation: itemMove 0.3s linear;
}
.mainContent .featuredProducts .slide .productCaption {
    width: 100%;
    display: block;
}
.mainContent .featuredProducts .slide .productCaption h5 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.mainContent .featuredProducts .slide .productCaption h3 {
    color: #c5c5c5;
    font-weight: 700;
    margin-bottom: 0;
}
.mainContent {
    background-color: #ffffff;
}
@media (max-width: 479px) {
    .mainContent {
        padding: 40px 0 40px 0;
    }
}
@media (min-width: 480px) {
    .mainContent {
        padding: 90px 0 0 0;
    }
}
@media (min-width: 768px) {
    .mainContent {
        padding: 90px 0 60px 0;
    }
}
